# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
vendor/
.bundle/
Gemfile.lock
.ruby-version

# OS
.DS_Store
.DS_store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
.history

# Local development
.env